# SC207 Assessment: Code Task 1

## Section 1 of 2: Python

#### Task 1.1 (10 points)
In the cell below... 
- Create three new variables that will store information about an imaginary person.
    - The first variable should store the person's name as a string
    - The second variable should store their age as an integer.
    - The third variable should store their profession as a string
- Next create a string that will describe the person's name, age and their profession and assign it to a new variable. The string should be created in such a way that changing any of your name, age or profession variables will automatically change the string. 
- Finally, print the string.

In [ ]:
# Write your code for task 1 here

#### Task 1.2 (10 points)

In the cell below...

Create a function that takes two strings and concatenates them together into a single string with a space between the words. The function should also make the new concatenated string all lowercase before it then returns the result. 

After you create the function demonstrate it works by running an example. 

*Note: Concatenation means joining two strings together into a single string.*

In [1]:
# Write your code for task 2 here

#### Task 1.3 (15 Points)

In the cell below...

Create a script that uses comparison and control flow to determine whether a person needs to take a bath and informs them of the decision.

Start your cell by declaring three variables
1. The person's name
2. The number of days since the person's last bath
3. The maximum number of days anyone should go before they need to take a bath. 

Then use comparison and control flow to write a short script that checks whether it has been more than the maximum number of days since the person had a bath or not. The script should then respond with a personalised message saying if the person does or does not eed a bath

After you write the script check that it works in all cases.

In [ ]:
# Write your code for task 3 here

#### Task 1.4 (15 Points)

In the cell below...

You have been provided a list of names called `names`. You cannot change the list `names`. You have also been provided with a blank list called `m_names`.

Write some code that will iterate over `names`, and put each item into `new_list` if it begins with the letter 'M'.

Your final `new_list` of 'M' names should contain 4 items. After you have filled the `new_list` demonstrate that it has only M names by printing `new_list`, and that it has 4 items in it by printing the length of `new_list`.

In [ ]:
names = ['Margaret', 'Tony', 'Bahar', 'Mike', 'Mawadah', 'Marie']

new_list = []

# Write your code for task 4 here

## Section 2 of 2: Load, View, and Access Data with Pandas

#### Task 2.1 (10 Points)
* Import the `pandas` library and give it the alias `pd`.
* Use the `pandas` function `read_csv` to load the dataset `kaggle_vaccination_tweets.csv` as a DataFrame using the following URL https://raw.githubusercontent.com/valdanchev/SC207/main/kaggle_vaccination_tweets.csv
* Assign the loaded data set to a variable using an informative variable name of your choice (and use this variable in the subsequent two tasks).

Please write your code and comments in the code cell below (feel free to add Code and Markdown cells as needed):

#### Taks 2.2 (10 Points)
Using `pandas`: 
* View the top 10 rows in your DataFrame.
* View the last 20 rows in your DataFrame.
* Display information about the number of rows and columns in your DataFrame.
* List the labels of all columns in your DataFrame.

Please write your code and comments in the code cell below:

#### Task 2.3 (15 Points)

* Using the column `source` in the DataFrame, select all the rows with a source 'Twitter for iPhone'.
* Sort by the number of `retweets` and identify the number of retweetes for the most retweeted tweet (Hint: use `sort_values()` and make sure that the retweets are sorted in decreasing order, i.e., from the most retweeted to the least retweeted tweet).

Please write your code and comments in the Code cell below:

#### Task 2.4 (15 Points)

* Select all tweets from a `source` 'Twitter for Android' with more that 10 retweets and assign the output to a new variable.
* Select all tweets from a source 'Twitter for iPhone' with more that 10 retweets and assign the output to a new variable.

Please write your code and comments in the Code cell below: