# SC207 Assessment: Code Task 1

## Section 1 of 2: Python

#### Task 1.1 (10 points)
In the cell below... 
- Create three new variables that will store information about an imaginary person.
    - The first variable should store the person's name as a string
    - The second variable should store their age as an integer.
    - The third variable should store their profession as a string
- Next create a string that will describe the person's name, age and their profession and assign it to a new variable. The string should be created in such a way that changing any of your name, age or profession variables will automatically change the string. 
- Finally, print the string.

In [ ]:
# Write your code for task 1 here

#### Task 1.2 (10 points)

In the cell below...

Create a function that takes two strings and concatenates them together into a single string with a space between the words. The function should also make the new concatenated string all lowercase before it then returns the result. 

After you create the function demonstrate it works by running an example. 

*Note: Concatenation means joining two strings together into a single string.*

In [1]:
# Write your code for task 2 here

#### Task 1.3 (15 Points)

In the cell below...

Create a script that uses comparison and control flow to determine whether a person needs to take a bath and informs them of the decision.

Start your cell by declaring three variables
1. The person's name
2. The number of days since the person's last bath
3. The maximum number of days anyone should go before they need to take a bath. 

Then use comparison and control flow to write a short script that checks whether it has been more than the maximum number of days since the person had a bath or not. The script should then print a personalised message saying if the person does or does not need a bath

After you write the script check that it works in all cases.

In [ ]:
# Write your code for task 3 here

#### Task 1.4 (15 Points)

In the cell below...

You have been provided a list of names called `names`. You cannot change the list `names`. You have also been provided with a blank list called `new_list`.

Write some code that will iterate over `names`, and put each item into `new_list` if it begins with the letter 'M'.

Your final `new_list` of 'M' names should contain 4 items. After you have filled the `new_list` demonstrate that it has only M names by printing `new_list`, and that it has 4 items in it by printing the length of `new_list`.

In [ ]:
names = ['Margaret', 'Tony', 'Bahar', 'Mike', 'Mawadah', 'Marie']

new_list = []

# Write your code for task 4 here

## Section 2 of 2: Pandas
For this section we will be using a dataset about Cereals.
- `name`: Name of cereal
- `manufacturer`: Manufacturer of the cereal
- `type`: Whether it is a `Hot` or `Cold` cereal



Use the cell below to `import pandas as pd`, load a dataset from an online source and assign it to a variable called `cereal`. This step has been written for you.

In [2]:
import pandas as pd
cereal = pd.read_csv('https://raw.githubusercontent.com/Minyall/sc207_2023-24/main/code_tasks/cereal.csv')


#### Task 2.1 (10 Points)
* View the top 10 rows in your DataFrame.
* View the last 20 rows in your DataFrame.
* View the columns in the dataframe

In [6]:
# Start your code for task 1 here. Make additional cells if you need to.

#### Task 2.2 (10 Points)

* Use the column `manufacturer` to filter your dataset to only display products from the the manufacturer 'Kellogs'.
* Sort the data to order the Kellogs products by sugar content in descending order (highest to lowest).
* Complete the commented line in the cell.

In [ ]:
# Write your code for task 2 here. 



# Complete the comment below.
# THE KELLOGS CEREAL WITH THE HIGHEST SUGAR CONTENT IS CALLED:

#### Task 2.3 (15 Points)

One of the columns in the cereal dataset has a missing value. 
* In the first cell below, identify which column has the missing value and complete the comment. Ensure you provide the code that allowed you to identify the column.
* In the second cell write the code necessary to drop the row with the missing value. Ensure that you overwrite `cereal` with a cleaned version.

In [ ]:
# Write the code for identifying the missing data here:



# THERE IS MISSING DATA IN THE COLUMN CALLED:

In [ ]:
# Write the code for dropping the row with the missing value here.

#### Task 2.4 (15 Points)

For Information:
The `shelf` column indicates where the cereal is typically displayed on shop shelves, with 1 indicating the lowest shelf, 2 the middle, and 3 the highest.

Question: What is the average sugar content of the cereals displayed on each shelf? 

Task:
* Produce a summary of the `cereal` where the shelf numbers are the index, and the `mean` sugar content of cereals on those shelves are the values. 

HINT: 
* You should Group the data to achieve this result.

In [ ]:
# Write the code for task 4 here.