# SC207 Assessment: Code Task 1

## Section 1 of 2: Python

#### Task 1.1 (10 points)
In the cell below... 
- Create three new variables that will store information about an imaginary person.
    - The first variable should store the person's name as a string
    - The second variable should store their age as an integer.
    - The third variable should store their profession as a string
- Next create a string that will describe the person's name, age and their profession and assign it to a new variable. The string should be created in such a way that changing any of your name, age or profession variables will automatically change the string. 
- Finally, print the string.

In [ ]:
# Write your code for task 1 here

#### Task 1.2 (10 points)

In the cell below...

Create a function that takes two strings and concatenates them together into a single string with a space between the words. The function should also make the new concatenated string all lowercase before it then returns the result. 

After you create the function demonstrate it works by running an example. 

*Note: Concatenation means joining two strings together into a single string.*

In [1]:
# Write your code for task 2 here

#### Task 1.3 (15 Points)

In the cell below...

Create a script that uses comparison and control flow to determine whether a person needs to take a bath and informs them of the decision.

Start your cell by declaring three variables
1. The person's name
2. The number of days since the person's last bath
3. The maximum number of days anyone should go before they need to take a bath. 

Then use comparison and control flow to write a short script that checks whether it has been more than the maximum number of days since the person had a bath or not. The script should then respond with a personalised message saying if the person does or does not eed a bath

After you write the script check that it works in all cases.

In [ ]:
# Write your code for task 3 here

#### Task 1.4 (15 Points)

In the cell below...

You have been provided a list of names called `names`. You cannot change the list `names`. You have also been provided with a blank list called `m_names`.

Write some code that will iterate over `names`, and put each item into `new_list` if it begins with the letter 'M'.

Your final `new_list` of 'M' names should contain 4 items. After you have filled the `new_list` demonstrate that it has only M names by printing `new_list`, and that it has 4 items in it by printing the length of `new_list`.

In [ ]:
names = ['Margaret', 'Tony', 'Bahar', 'Mike', 'Mawadah', 'Marie']

new_list = []

# Write your code for task 4 here

## Section 2 of 2: Pandas
For this section we will be using a dataset about Cereals.
- `name`: Name of cereal
- `manufacturer`: Manufacturer of the cereal
- `type`: Whether it is a `Hot` or `Cold` cereal



Use the cell below to `import pandas as pd`, load a dataset from an online source and assign it to a variable called `cereal`. This step has been written for you.

In [2]:
import pandas as pd
cereal = pd.read_csv('https://raw.githubusercontent.com/Minyall/sc207_2023-24/main/code_tasks/cereal.csv')


#### Task 2.1 (10 Points)
* View the top 10 rows in your DataFrame.
* View the last 20 rows in your DataFrame.
* Display an information overview that shows the column names, number of non-null entries and column types.

In [6]:
# Start your code for task 1 here. Make additional cells if you need to.

#### Task 2.2 (10 Points)

* Use the column `manufacturer` to filter your dataset to only display products from the the manufacturer 'Kellogs'.
* Sort the data to order the Kellogs products by sugar content in descending order (highest to lowest).
* Complete the commented line in the cell.

In [10]:
# Write your code for task 2 here. 



# Complete the comment below.
# THE KELLOGS CEREAL WITH THE HIGHEST SUGAR CONTENT IS CALLED:

,name,manufacturer,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
66,Smacks,Kellogs,Cold,110,2,1,70,1.0,9.0,15,40,25,2,1.00,0.75,31.230054
6,Apple Jacks,Kellogs,Cold,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
24,Froot Loops,Kellogs,Cold,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
46,Mueslix Crispy Blend,Kellogs,Cold,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
17,Corn Pops,Kellogs,Cold,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
28,Fruitful Bran,Kellogs,Cold,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
58,Raisin Bran,Kellogs,Cold,120,3,1,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
25,Frosted Flakes,Kellogs,Cold,110,1,0,200,1.0,14.0,11,25,25,1,1.00,0.75,31.435973
39,Just Right Fruit & Nut,Kellogs,Cold,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
48,Nut&Honey Crunch,Kellogs,Cold,120,2,1,190,0.0,15.0,9,40,25,2,1.00,0.67,29.924285
49,Nutri-Grain Almond-Raisin,Kellogs,Cold,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320
19,Cracklin' Oat Bran,Kellogs,Cold,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
26,Frosted Mini-Wheats,Kellogs,Cold,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
38,Just Right Crunchy Nuggets,Kellogs,Cold,110,2,1,170,1.0,17.0,6,60,100,3,1.00,1.00,36.523683
60,Raisin Squares,Kellogs,Cold,90,2,0,0,2.0,15.0,6,110,25,3,1.00,0.50,55.333142
2,All-Bran,Kellogs,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
53,Product 19,Kellogs,Cold,100,3,0,320,1.0,20.0,3,45,100,3,1.00,1.00,41.503540
21,Crispix,Kellogs,Cold,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
62,Rice Krispies,Kellogs,Cold,110,2,0,290,0.0,22.0,3,35,25,1,1.00,1.00,40.560159
67,Special K,Kellogs,Cold,110,6,0,230,1.0,16.0,3,55,25,1,1.00,1.00,53.131324
50,Nutri-grain Wheat,Kellogs,Cold,90,3,0,170,3.0,18.0,2,90,25,3,1.00,1.00,59.642837
16,Corn Flakes,Kellogs,Cold,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
3,All-Bran with Extra Fiber,Kellogs,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912

#### Task 2.4 (15 Points)

* Select all tweets from a `source` 'Twitter for Android' with more that 10 retweets and assign the output to a new variable.
* Select all tweets from a source 'Twitter for iPhone' with more that 10 retweets and assign the output to a new variable.

Please write your code and comments in the Code cell below: